[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2"
djangorestframework = "==3.14.0"
django-rest-knox = "4.2.0"
drf-nested-routers = "*"
psycopg2 = "*"
celery = {extras = ["redis"], version = "*"}
django-constance = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.2"
